/* 

Colors used in this project

blue-light: #33C5F3;
blue-dark: #00A1C2;
yellow-light: #ECE840;
yellow-dark: #EEDD24;
orange-light: #E98941;
orange-dark: #E46A2F;
red-light: #E84343;
red-dark: #4F0505;
green-light: #8DC63F;
green-dark: #005735;

*/
